<section class="about section" id="about">
  <div class="container about__container">
    <p class="about__text">tradition and love</p>
    <h2 class="about__title">how it’s made?</h2>
    <div  class="about__info">
      <div class="about__img-milk">
      <picture>
        <source
        media="(min-width: 1200px)"
          srcset="
            ./images/about/home-desk.png    1x,
            ./images/about/home-desk-2x.png 2x
          "
        />
        <source
        media="(min-width: 768px)"
          srcset="
            ./images/about/home-tub.png    1x,
            ./images/about/home-tub-2x.png 2x
          "
        />
        <source
        media="(min-width: 320px)"
          srcset="
            ./images/about/home-mob.png    1x,
            ./images/about/home-mob-2x.png 2x
          "
        />
        <img
          class="about__img"
          src="./images/about/home-mob.png"
          alt="milk"
        />
      </picture>
    </div>
    <div class="about__text-milk">
        <p class="about__full-title">
          Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo
          cursus, faucibus lorem eget, egestas eros. Maecenas eleifend erat at
          justo fringilla.
        </p>
        <p class="about__paragraph">
          Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum.
          Mauris rhoncus orci in imperdiet placerat. Vestibulum euismod nisl
          suscipit ligula volutpat, a feugiat urna maximus. Cras massa nibh,
          tincidunt.
          <br>
          <br>
          Aliquam erat volutpat. Aenean accumsan.
        </p>
        <!-- <button type="button" class="about__button" >
        Read more <svg class="about__icon" width="8" height="8">
          <use href="./images/about/symbol-defs.svg#icon-about__button"></use>
        </svg>
      </button> -->
      <a href="#popup" class="about__button">Read more
        <svg class="about__icon" width="8" height="8">
          <use href="./images/about/symbol-defs.svg#icon-about__button"></use>
        </svg>
      </a>
        </div>
      </div>
      
    </div>
  </div>

  <!--Модальне вікно-->

  <div id="popup" class="popup">
    <a href="#about" class="popup__area"></a>
    <div class="popup__body">
      <div class="popup__content">
        <a href="#about" class="popup__clouse">
          <svg class="popup__icon">
                <use href="./images/icons.svg#close-black"></use>
            </svg>
        </a>
        <p class="popup__maintitle">5 types of ice cream you should know and sample</p>
        <ul class="popup__list">
          <li class="popup__item">
           <p class="popup__title"> 1.Mochi Ice Cream</p>
           <p class="popup__text">Of course, Mochi Ice Cream is our favorite. We take premium ice cream and wrap it in delicious, authentic Mochi dough, allowing you to ditch the spoon and take your ice cream with you wherever you go.</p>
          </li>
          <li class="popup__item">
           <p class="popup__title"> 2.Gelato</p>
           <p class="popup__text">Gelato, Ice Cream’s Italian cousin, is made with whole milk, without using added cream. This makes the milkfat percentage much lower than traditional ice cream. Also, gelato is often made without eggs and stabilizers.</p>
          </li>
          <li class="popup__item">
           <p class="popup__title"> 3.Frozen Yogurt</p>
           <p class="popup__text">Frozen yogurt, or Fro-Yo, is a very popular form of ice cream right now. This frozen treat is made using some of the same ingredients as ice cream, but with a much lower percentage of fat. There is also yogurt mixed in, which gives it more of a tart taste.</p>
          </li>
          <li class="popup__item">
           <p class="popup__title"> 4.Sorbet</p>
           <p class="popup__text">Sorbet is frozen treat that contains little to no dairy. Because it is made by using frozen berries and sweetened water, it is very light in texture and flavor.</p>
          </li>
          <li class="popup__item">
           <p class="popup__title"> 5.Sherbet</p>
           <p class="popup__text">Sherbet, similarly to sorbet, is a fruit-based frozen dessert, but it does contain dairy. It is made with fruit juice, milk or cream, egg whites, and in some cases, gelatin.Sherbet ice cream is defined as a frozen dessert that contains no more than 1-3% milkfat. If the mixture goes over 3%, it is considered ice cream. If it is under 1%, it is considered water ice.</p>
          </li>
         
        </ul>

      </div>

    </div>

  </div>
</section>
